# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart

# Misc
*.log
